{% extends "bootstrap/base.html" %}


{% block head %}
<link href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='styles/file_index.css') }}" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

{% endblock %}

{% block title %}Files{% endblock %}

{% block body %}

    {% block navbar %}
<nav class="navbar navbar-inverse" style="border-radius: 0px;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ url_for('upload_file') }}">Upload</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/files/">My Files</a></li>
        <li class="active"><a href="/makedir">MKDIR</a></li>
    </ul>
  </div>
</nav>
{% endblock %}
<div class="browse_files">
<div class="container-fluid">
{% if path %}

    <ol class="breadcrumb">
        <li><a href="/files/">Home</a></li>
        <li class="active">{{path}}</li>
    </ol>


{% endif %}

    <ul class="list-group">
{% for dir in dir_list %}
   <li class="list-group-item" ><span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span> <a href="{{ url_for('my_files', path=join_path(path,dir)) }}" class="dir_link">{{ dir.name }}</a></li>
{% endfor %}
    </ul>
<br>
    <ul class="list-group">
{% if files %}
{% for file in files %}
{% with ext = check_ext(file.ext) %}

  <li class="list-group-item" >
      <div class="media">
            <div class="media-left">
          <span class="{{ ext }}" aria-hidden="true"></span>
            </div>
          <div class="media-body">
          <div class="file_name">{{ file.name }}</div>
        </div>
          <div class="media-right" >
              <a class="btn btn-sm" href="{{ url_for('download',path=join_path(path,file.name))}}"><span class="fa fa-download " aria-hidden="true" style="color:lightgreen"></span></a>
              </div>
          <div class="media-right">
             <a class="btn btn-sm" href="#"> <span class="fa fa-share " aria-hidden="true" style="color:lightblue"></span></a>
            </div>
          <div class="media-right">
              <a class="btn btn-sm" href="/delete/1/{{file.id}}"><span class="fa fa-trash " aria-hidden="true" style="color:red"></span></a>
            </div>
      </div>
  </li>

{% endwith %}
{% endfor %}
{% endif %}
    </ul>

</div>
</div>
{% endblock %}

