{% extends "layout.html" %}

{% block content %}

<ul class="nav nav-tabs">
  <li role="presentation" ><a href="/home">Home</a></li>
    {% with username = give_current_username() %}
    {% with is_owner = is_dir_owner(current_dir.id) %}
        {% if is_owner %}
    <li role="presentation" class="active"><a href="/files/{{ username }}/{{ username}}">My Files</a></li>
    {% else %}
    <li role="presentation"><a href="/files/{{ username }}/{{ username}}">My Files</a></li>
    {% endif %}
        {% endwith %}
    {% endwith %}
  <li role="presentation"><a href="/friends">Profile</a></li>
</ul>
<br>
<div class="browse_files">
<div class="container-fluid">

    <div>
        {% with is_owner = is_dir_owner(current_dir.id) %}
        {% if is_owner %}
        <a href="/upload/{{ current_dir.name }}"><button type="button" class="btn btn-success "><span class="fa fa-file-o " aria-hidden="true"></span> ADD</button></a>
        <a href="/makedir/{{ current_dir.name }}"><button type="button" class="btn btn-info "><span class="fa fa-folder-o " aria-hidden="true"></span> NEW</button></a>
        {% endif %}
        {% endwith %}

        {% if back_dir %}
        <a href="/files/{{ user }}/{{ back_dir }}"><button type="button" class="btn btn-warning "><span class="fa fa-arrow-left " aria-hidden="true"></span> BACK</button></a>
        {% endif %}
    </div>
    <br>
    <ul class="list-group">
        {% if dirs %}
{% for dir in dirs %}
        {% if not dir.hidden %}
   <li class="list-group-item" >
       <div class="media">
            <div class="media-left">
       <span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span>
                </div>
           <div class="media-body">
               <div class="dir_name">
       <a href="/files/{{ user }}/{{dir.name}}" class="dir_link">{{ dir.name }}</a>
               </div>
               </div>
           {% if not dir.access %}
           <div class="media-right">
              <a class="btn btn-sm" href="" style="pointer-events: none;cursor: default;"><span class="fa fa-lock " aria-hidden="true" style="color:black;"></span></a>
            </div>
           {% else %}
           <div class="media-right">
              <a class="btn btn-sm" href="" style="pointer-events: none;cursor: default;"><span class="fa fa-globe " aria-hidden="true" style="color:#00E02D;"></span></a>
            </div>
           {% endif %}
           {% with is_owner = is_dir_owner(current_dir.id) %}
        {% if is_owner %}
           <div class="media-right">
              <a class="btn btn-sm" href="/deletedirectory/{{dir.id}}"><span class="fa fa-trash " aria-hidden="true" style="color:red"></span></a>
            </div>
           {% endif %}
        {% endwith %}

           </div>
   </li>
        {% endif %}
{% endfor %}
        {% endif %}
    </ul>
<br>
    <ul class="list-group">
{% if files %}
{% for file in files %}
{% with ext = check_ext(file.ext) %}

  <li class="list-group-item" >
      <div class="media">
            <div class="media-left">
          <span class="{{ ext }}" aria-hidden="true"></span>
            </div>
          <div class="media-body">
          <div class="file_name">{{ file.name }}</div>
        </div>
          <div class="media-right" >
              <a class="btn btn-sm" href="/download/{{ user }}/{{current_dir.name}}/{{file.name}}"><span class="fa fa-download " aria-hidden="true" style="color:lightgreen"></span></a>
              </div>
          <div class="media-right">
             <a class="btn btn-sm" href="#"> <span class="fa fa-share " aria-hidden="true" style="color:lightblue"></span></a>
            </div>
          <div class="media-right">
              <a class="btn btn-sm" href="/deletefile/{{ current_dir.name }}/{{file.name}}"><span class="fa fa-trash " aria-hidden="true" style="color:red"></span></a>
            </div>
      </div>
  </li>

{% endwith %}
{% endfor %}
{% endif %}
    </ul>

</div>
</div>
{% endblock %}

