{% extends 'layout.html' %}

{% block content %}
<ul class="nav nav-tabs">
  <li role="presentation" ><a href="/home">Home</a></li>
    {% with username = give_current_username() %}
    <li role="presentation" ><a href="/files/{{ username }}/{{ username }}">My Files</a></li>
    {% endwith %}
  <li role="presentation" class="active"><a href="/friends">Profile</a></li>
</ul>
<br>
<div>
    {% for user in friends %}
    <a href="/files/{{user.username}}/{{user.username}}">{{user.username}}</a><br>
    {% endfor %}

</div>
{% endblock %}