{% extends "files_zone/layout.html" %}

{% block content %}
    <div class="container-fluid">

<form action="{{ url_for('upload_file',directory=current_dir) }}"
      class="dropzone"
      id="my-awesome-dropzone"></form>
</div>
    {% block scripts %}

{{super()}}
{% endblock %}

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class="list-group">
    {% for message in messages %}
    <li class="list-group-item list-group-item-danger">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

{% endblock %}


