<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Projekt 1</title>
    {% endif %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}" type="text/css">
</head>
<body>
    <div id="rodzic">
        <a href="/" class="button">Start</a>
        {% with logged_in = current_user.is_authenticated %}
            {% if not logged_in %}
                <a href="/signup" class="button">Register</a>
                <a href="/signin" class="button">Login</a>
            {% else%}
                <a href="/home" class="button">Home</a>
                <a href="/account" class="button">Konto</a>
                <a href="/logout" class="button">Wyloguj</a>
            {% endif %}
            <a href="/help" class="button">Help</a>
        {% endwith %}
    </div>
    <hr class="style1"><br>
    {% block content %}
    {% endblock %}
    <br>
    <div id="footer">
        <hr class="style2">
    </div>

</body>
</html>