{% extends 'user_zone/layout.html' %}

{% block content %}
<div id="loginspace">
    <form method="post" action="" name="register">
        {{ form.hidden_tag() }}
        <div id="loginbox1">
            <p>
                Wprowadź hasło:
                Potwierdź:
            </p>
        </div>
        <div id="loginbox2">
            <p>
                {{ form.password(size=30) }}<br>
                {{ form.confirm(size=30) }}<br><br>
                 <input type='submit' value="Potwierdź" class="button">
            </p>
            {% with messages = form.password.errors %}
                {% if messages %}
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>

    </form>
</div>
{% endblock %}