{% extends 'user_zone/layout.html' %}

{% block content %}
<div id="loginspace">
    <form method="post" action="" name="register">
        {{ form.hidden_tag() }}
        <div id="loginbox1">
            <p>
                Wprowadź swój email
            </p>
        </div>
        <div id="loginbox2">
            <p>
                {{ form.email(size=30) }}<br>
                 <input type='submit' value="Potwierdź" class="button">
            </p>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <p>{{ message }}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
        </div>
    </form>
</div>
{% endblock %}