{% extends 'layout.html' %}

{% block content %}
<div class="log_box">
<div class="col-xs-5" style="border: 1px solid #ababab;border-radius: 5px 5px 5px 5px;">
    <form method="post" action="/signin"  class="form-sigin">
        {{ form.hidden_tag() }}

        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputLogin" class="sr-only">Login</label>
        <input type="text" id="inputLogin" value="{{request.form.username }}" name="username" size="30" class="form-control" placeholder="Login"  required autofocus >
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" value="{{request.form.password }}" name="password" size="30" class="form-control" placeholder="Password"  required >
        <br>
        <input class="btn btn-lg btn-primary btn-block" size="30" type="submit" value="Sign in">
        <br>
        <label>
            <a href="{{ url_reset_password }}">Forgot Password</a> | <a href="{{ url_for('help') }}">Can't Log In</a>
          </label>

        {% with messages = form.username.errors + form.password.errors %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-warning" role="alert">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-warning" role="alert">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        {% if resend_activation_email %}
                <form method="post" action="" name="resend_activation_email">
                    <input type="submit" value="Wyślij jeszcze raz email aktywacyjny" name="resend_activation_email">
                </form>
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}
